<h1><%= @section.name %></h1>

<% if @section.lessons.any? %>
  <h4>Lessons in this section:</h4>
  <ul class="list-group">
    <% @section.lessons.each do |lesson| %>
      <li class="list-group-item"><%= lesson.number %>. <%= link_to lesson.name, section_lesson_path(@section, lesson) %>
        <% if lesson.dumb %>
          <img src="https://cdn4.iconfinder.com/data/icons/smiley-2/54/smiley-face-avatar-shock-stupid-128.png" height="20" width="20" alt="dumb guy face">
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no lessons yet.</p>
<% end %>

<p><%= link_to "Add a lesson", new_section_lesson_path(@section) %></p>
<p><%= link_to "Edit Section", edit_section_path(@section) %></p>
<p><%= link_to "Delete Section", section_path(@section),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>
<p><%= link_to "Return to sections", sections_path %></p>
