<h1><%= @lesson.name %></h1>
<h3><%= @lesson.content %></h3>

<p><%= link_to "Edit", edit_section_lesson_path(@lesson.section, @lesson) %></p>
<p><%= link_to "Delete", section_lesson_path(@lesson.section, @lesson),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<% @lessons.each do |lesson| %>
  <% if lesson.number == @lesson.number + 1 && lesson.section == @lesson.section %>
    <%= link_to "Next Lesson", section_lesson_path(lesson.section, lesson) %>
  <% elsif lesson.number == @lesson.number - 1 && lesson.section == @lesson.section %>
    <%= link_to "Previous Lesson", section_lesson_path(lesson.section, lesson) %>
  <% end %>
<% end %>

<p><%= link_to "Return to lessons", section_lessons_path(@lesson.section) %></p>
